.card {
  --card-spacing: 10px;

  appearance: none;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--card-spacing);

  cursor: pointer;

  border: none;
  outline: none;
  padding: var(--card-spacing);
  background-color: var(--color-bg-secondary);

  color: var(--color-text-default);
  font-size: 14px;
  font-weight: 300;
  text-align: left;

  border-radius: 8px;

  transition: 80ms ease;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    background-color: var(--color-bg-accent);
  }

  &_active {
    background-color: var(--color-bg-accent);
  }

  .counter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    width: 100%;
    border-radius: 8px;
    // height: 48px;

    background-color: rgba(236, 236, 236, 0.32);

    & > button {
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      border-radius: 50%;
      color: var(--color-bg-accent);
    }

    & > span {
      width: 100%;
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--card-spacing);

    .image {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      aspect-ratio: 1 / 1;
      background-color: var(--color-bg-default);
      border-radius: 4px;

      margin-bottom: var(--card-spacing);

      & > img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
      }

      & > span {
        font-size: 14px;
        color: var(--color-text-secondary);
      }
    }

    .title {
      width: 100%;
      text-transform: uppercase;
    }

    .price {
      width: 100%;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: var(--card-spacing);
    }

    .description {
      width: 100%;
      color: var(--color-text-secondary);
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--card-spacing);
    width: 100%;
    margin-top: var(--card-spacing);

    .badge {
      display: flex;
      align-items: center;
      gap: 4px;

      font-size: 12px;
      line-height: 20px;
      color: var(--color-text-secondary);
    }
  }
}

.likeButton {
  outline: none;
  border: none;

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 2px 4px;
  border-radius: 6px;
  background-color: rgba(236, 236, 236, 0.08);

  color: var(--tg-theme-text-color);

  & > svg {
    color: var(--color-favorite);
  }

  & > span {
    padding-left: 2px;
  }
}
