$sizes: (
  's': (
    'padding-y': 8px,
    'padding-x': 8px,
    'gap': 8px,
  ),
  'l': (
    'padding-y': 12px,
    'padding-x': 12px,
    'gap': 12px,
  ),
);

@each $size, $values in $sizes {
  ._size_#{$size} {
    --button-pd-y: #{map-get($values, 'padding-y')};
    --button-pd-x: #{map-get($values, 'padding-x')};
    --button-gp-x: #{map-get($values, 'gap-x')};
  }
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--button-gp-x);
  outline: none;
  border: none;
  background-color: var(--color-text-accent);
  color: var(--color-text-on-accent);
  padding: var(--button-pd-y) var(--button-pd-x);
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
  transition: 80ms ease;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.95) contrast(1.1);
  }
}

.fullwidth {
  width: 100%;
}
