.authBg {
  --layout-bg-tint: linear-gradient(to bottom, rgba(0, 63, 94, 0.4), rgba(0, 63, 94, 0.1));
  --layout-bg-darken: linear-gradient(to bottom, black, black);

  background: var(--layout-bg-tint), var(--layout-bg-darken) !important;
  background-attachment: fixed !important;
  background-position: top !important;
  background-size: cover !important;
}
